@charset "utf-8";
/* CSS Document */
*{
	text-align: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
}


header a{
	text-decoration: none;
	color: black;
}



/* Logo style */

#logo::after{
	display: block;
	position: relative;
	content: '';
	background-color: #BCC3BE;
	height: 1.5vw;
	width: 72.5%;
}

.logoFont1{
	font-family: restora;
	font-weight: lighter;
	font-size: 40px;
	letter-spacing: 7.5px;
	vertical-align: middle;
}

.logoFont2{
	font-family: mrs saint delafield;
	font-weight: normal;
	font-size: 40px;
	padding: 0 26px 0 13px;
	position: relative;
	vertical-align: middle;
}

/* Menu */

#menu{
	display: flex;
	position: relative;
	justify-content: flex-end;
}

#menuDropDown ul{
	list-style: none;
	
}

.menuSection{
}

#menuDropDown{
	display: flex;
	
}

#menuDropDown span{
	font-size: 24px;
	font-family: leksa sans;
	padding: 0 10px;
	margin: 0 10px;
	cursor: pointer;
}

.menuSection:hover .menuList{
	display: block;
	position: absolute;
	animation: dropDown 1s;
	background-color: rgba(255,255,255,0.65);
}

/* Menu Animation */

@keyframes dropDown{
	0%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
		background-color: rgba(255,255,255,0.65);
	}
}

.menuList{
	display: none;
	z-index: 1;
}

#menuIcons{
	display: flex;
	padding: 5px;
	justify-content: center;
}

#menuIcons span{
	font-size: 24px;
	padding-left: 8px;
	cursor: pointer;
}



body{
	background-color: #fffcf5;
	margin: 0 10%;
}

main{
	position: absolute;
	width: 80%;
}

#homeMain::before{
	content: '';
	display: block;
	position: absolute;
	background-color: #BCC3BE;
	height: 30vw;
	width: 100%;
	z-index: -1;
	top: -100px;
}

#homeMain{
	display: block;
	margin-top: 100px;
	position: relative;
}

/* Buttons */

button{
	display: flex;
	position: absolute;
	font-family: restora;
	font-weight: 100;
	font-size: 1.2vw;
	letter-spacing: .15vw;
	border: none;
	border-radius: 0;
	background-color: rgba(255,255,255,0.65);
	padding: .75% 1%;
	cursor: pointer;
}

#newArrivals:hover{
	color: white;
	background-color: rgba(255,255,255,0.65);
}

button:hover{
	background-color: white;
}

/* Button in Home's Main */

#homeMain button{
	top: 75%;
	left: 77.5%;
}

#homeMain::after{
	position: relative;
	content: '';
	height: 1.5vw;
	background-color: #BCC3BE;
	display: block;
	float: right;
	width: 65%;
}

/* Background boxes */

#homeGroupShot{
	
	display: block;
	width: 85%;
	margin: 0 auto;
}

/* Headings */

h2{
	font-family: restora;
	font-weight: 100;
	font-size: 24px;
	letter-spacing: 4px;
	text-align: left;
	padding-bottom: 1vw;
}

h3{
	color: white;
	font-family: leksa sans;
	font-size: 24px;
}

/* Home's Article */

#homeArticle{
	padding-top: 50vw;
	display: block;
}

/* Home's Sections */

#homeMostWanted{
	position: absolute;
	display: flex;
	width: 80%;
}

#homeMostWanted img{
	display: block;
	width: 50%;
	margin: 0 auto;
}

#homeMostWanted button{
	display: block;
	margin: .75vw auto;
	position: relative;
	
}

#homeMostWanted::after{
	content: '';
	display: block;
	position: absolute;
	background-color: #BCC3BE;
	height: 80%;
	width: 100%;
	z-index: -1;
	top: 6vw;
}

/* Home's Styling Section */

#homeSectionStyling{
	margin-top: 32vw;
}

#homeStyling{
	position: relative;
}

#homeStylingImages{
	display: flex;
}

#homeStylingImages img{
	width: 25%;
	
}

#homeStylingCenterImg{
	margin: 0 auto;
}

#homeStyling::after{
	content: '';
	display: block;
	position: absolute;
	background-color: #BCC3BE;
	height: 1vw;
	width: 59.5vw;
	margin-top: 1.5vw;
}

/* ------ Earrings Styles ------ */

#earringsArticle{
	padding-top: 100px;
}

#earringsArticle h2{
	font-size: 30px;
	margin-left: 8.8%;
	font-weight: bold;
	letter-spacing: 2.125px;
}

.earringsSection{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.earringsItemBox{
	flex-direction: column;
	display: inline-flex;
	align-items: center;
	
}

.earringsSection img{
	border: medium #525b56 solid;
	width: 80%;
}


.earringsSection p{
	color: black;
	font-size: 22px;
	font-weight: 300;
	display: flex;
	justify-content: space-between;
	margin: 0 2.5%;
	font-family: leksa sans;
}

.earringsInfoBox{
	margin: 10px 0 55px;
	width: 80%;
}

.earringItemName{
	float: left;
	text-align: left;
}

.earringItemPrice{
	float: right;
	text-align: right;
}

/* 
	content: '';
	display: block;
	position: absolute;
	background-color: #BCC3BE;
	height: 30vw;
	width: 100%;
	z-index: -1;
	top: -100px;
*/

#earringsSection1::before{
	content: '';
	display: block;
	position: absolute;
	background-color: #BCC3BE;
	height: 22.5vw;
	width: 80%;
	top: 100px;
	z-index: -1;
	
}

/* Footer */

footer{
	margin-top: 4.5vw;
	background-color: #525b56;
	margin-bottom: 1vw;
}

footer h3, footer li, footer a, footer p, footer input{
	text-align: left;
	color: white;
	text-decoration: none;
	list-style: none;
	font-family: leksa sans;
}

footer h3{
	padding-top: 80px;
}

footer a, footer p{
	font-size: 16px;
	font-weight: lighter;
}

footer li{
	padding-top: 5px;
}

footer input{
	margin-top: 15px;
	padding: 10px;
	font-size: 16px;
	color: black;
}

.footerTop{
	display: flex;
	justify-content: space-between;
	margin: 0 5%;
}

.footerTopLeft{
	flex-direction: row;
	display: flex;
	width: 50%;
}

.footerTopRight{
	display: flex;
	flex-direction: column;
}

.footerMenu{
	display: flex;
	flex-direction: column;
	margin-right: 10%;
}


#footerSubmitEmail{
	font-size: 30px;
	position: absolute;
	margin-top: 155px;
	margin-left: 237.5px;
	background-color: #BCC3BE;
	cursor: pointer;
	color: white;
}

#footerSubmitEmail:hover{
	color: #525b56;
}



.footerBottomPrint{
	position: relative;
	margin: 0 auto;
}

.footerBottomPrint p{
	text-align: center;
	padding-top: 40px;
	font-size: 22px;
}

/* Responsive Webpage Settings */

@media screen and (max-width: 800px){
	body{
		margin: 0;
	}
	
	/* Home styles */
	
	#homeSection1{
		width: 100%;
	}

	#homeSection1 img{
		margin: 0;
		width: 100%;
	}
	
	#homeRightImage img{
	}
	
	#homeLeftImage{
	}
	
	#homeRightImage{
	}
	
	/* Earrings styles */
	
	.earringsSection{
		justify-content: center;
	}
	
	.earringsSection img{
		width: 95%;
	}
	
	.earringsItemBox{
		width: 30%;
	}
	
	.earringsInfoBox{
		width: 90%;
	}
	
	.earringsSection p{
		margin: 0;
	}
	
}

