@charset "utf-8";

/* CSS Document */

*{
	text-align: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* Custom fonts */

@font-face{
	font-family: "mrs saint delafield";
	src: url(https://s3.amazonaws.com/iso.ida/Fonts/mrssaintdelafield-regular-webfont.woff),
		url(https://s3.amazonaws.com/iso.ida/Fonts/mrssaintdelafield-regular-webfont.woff2);
}

@font-face{
	font-family: "restora";
	src: url(https://s3.amazonaws.com/iso.ida/Fonts/nasir_udin_-_restoraextralight-webfont.woff),
		url(https://s3.amazonaws.com/iso.ida/Fonts/nasir_udin_-_restoraextralight-webfont.woff2);
}

body{
	background-color: #fffcf5;
	margin: 0 15%;
}

header a{
	text-decoration: none;
	color: black;
	font-family: "leksa-sans";
	font-size: 20px;
	margin: 0 5px;
}

header a:hover{
	color: #525b56;
}

/* Main Menu */

/* Hamburger Menu */

.hamburgerMenu{
	display: none;
}

/* Logo style */

#logo::after{
	display: block;
	position: relative;
	content: '';
	background-color: #525b56;
	height: 0.15vw;
	width: 72.5%;
}

.logoFont1{
	font-family: restora;
	font-weight: lighter;
	font-size: 40px;
	letter-spacing: 7.5px;
	vertical-align: middle;
}

.logoFont2{
	font-family: mrs saint delafield;
	font-weight: normal;
	font-size: 40px;
	padding: 0 26px 0 13px;
	position: relative;
	vertical-align: middle;
}

/* Menu */

#menu{
	display: flex;
	position: relative;
	justify-content: flex-end;
}

#menuDropDown ul{
	list-style: none;
	
}

.menuSection{
}

#menuDropDown{
	display: flex;
	
}

#menuDropDown span{
	font-size: 24px;
	font-family: "leksa-sans";
	padding: 0 10px;
	margin: 0 10px;
	cursor: pointer;
	
}

.menuSection:hover .menuList{
	display: block;
	position: absolute;
	animation: dropDown .5s;
	background-color: rgba(255,255,255,0.85);
}

/* Menu Animation */

@keyframes dropDown{
	0%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
		background-color: rgba(255,255,255,0.85);
	}
}

.menuList{
	display: none;
	z-index: 1;
	
	
}

.showMenuList{
	display: block;
}

.menuList li{
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	padding: 0 5px 1px;
}


#menuIcons{
	display: flex;
	padding: 5px;
	justify-content: center;
}

#menuIcons span{
	font-size: 24px;
	padding-left: 8px;
	cursor: pointer;
}

main{
	margin: 0 auto;
	background-image: url("https://s3.amazonaws.com/iso.ida/Images/Home/GroupShot.JPG");
	background-position: center;
	background-size: cover;
	height: 30vw;
	width: 90%;
}

#homeMain::before{
	content: '';
	display: block;
	position: absolute;
	background-color: #BCC3BE;
	height: 25vw;
	width: 100%;
	z-index: -1;
	top: -70px;
}

#homeMain{
	display: block;
	margin-top: 70px;
	position: relative;
}

/* Buttons */

button{
	display: flex;
	position: absolute;
	font-family: leksa-sans;
	font-weight: 100;
	font-size: 1.2vw;
	letter-spacing: .15vw;
	border: none;
	border-radius: 0;
	background-color: rgba(255,255,255,0.65);
	padding: .75% 2%;
	cursor: pointer;
}

#newArrivals:hover{
	color: white;
	background-color: rgba(255,255,255,0.65);
}

button:hover{
	background-color: white;
}

/* Button in Home's Main */

#homeMain button{
	position: relative;
	top: 75%;
	float: right;
}

#homeMain::after{
	position: relative;
	content: '';
	height: 1vw;
	background-color: #BCC3BE;
	display: block;
	float: right;
	width: 65%;
	margin-left: 35%;
}

/* Background boxes */


/* Headings */

h2{
	font-family: leksa-sans;
	font-weight: 100;
	font-size: 24px;
	letter-spacing: 4px;
	text-align: left;
	padding-bottom: 1vw;
}

h3{
	color: white;
	font-family: "leksa-sans";
	font-size: 24px;
	font-weight: normal;
}

h4{
	text-align: left;
	font-family: "leksa-sans";
	font-size: 24px;
	font-weight: 400;
}

/* Home's Article */

#homeArticle{
	display: block;
}

/* Home's Sections */

#homeMostWanted{
	position: relative;
	display: flex;
}

#homeMostWanted img{
	display: block;
	width: 50%;
	margin: 0 auto;
}

#homeMostWanted button{
	display: block;
	margin: .75vw auto;
	position: relative;
	
}

#homeMostWanted::after{
	content: '';
	display: block;
	position: absolute;
	background-color: rgba(188, 195, 190, 0.45);
	height: 80%;
	width: 100%;
	z-index: -1;
	top: 6vw;
}

/* Home's Styling Section */

#homeSectionStyling{
	margin-top: 2vw;
}

.homeStyling{
	position: relative;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.homeStylingImages{
	width: 30%;
}

.homeStyling img{
	width: 100%;
}

#homeStylingCenterImg{
}

.homeStyling::after{
	content: '';
	display: block;
	position: relative;
	background-color: #BCC3BE;
	height: 1vw;
	width: 59.5vw;
	margin: 1vw 0;
}




/* ------ Earrings Styles ------ */

#earringsHeading h2{
	font-weight: normal;
	margin: 0;
	margin-top: 4px;
	padding-left: 40px;
	width: 100%;
	padding-bottom: 0;
	margin-bottom: 1vw;
	font-size: 24px;
	letter-spacing: 0.75px;
}

#earringsHeading::before{
	content: '';
	display: block;
	position: absolute;
	background-color: #BCC3BE;
	height: 0.5vw;
	width: 70%;
	z-index: -1;
}

#earringsSection2{
	
}

#earringsArticle::before{
	content: '';
	display: flex;
	position: absolute;
	background-color: rgba(188, 195, 190, 0.45);
	height: 20vw;
	margin-top: 40px;
	width: 70%;
	z-index: -1;
	
}

#earringsSection5{
	margin-top: 1vw;
}

#earringsSection5::before{
	content: '';
	display: flex;
	position: relative;
	background-color: #BCC3BE;
	height: 1vw;
	margin-top: -3vw;
	margin-bottom: 1vw;
	margin-left: 88%;
	width: 210%;
	z-index: -1;
}

#earringsSection8::after{
	content: '';
	display: block;
	position: relative;
	background-color: #BCC3BE;
	height: 1vw;
	width: 240%;
	margin-left: -60%;
	margin-bottom: 1vw;
	z-index: -1;
}

#earringsSection8::before{
	content: '';
	display: block;
	position: absolute;
	background-color: rgba(188, 195, 190, 0.45);
	margin-top: -2vw;
	height: 20vw;
	width: 70%;
	z-index: -1;
}

#earringsArticle{
	padding-top: 0.15vw;
}


#earringsHeading{
	width: 100%;
}

#earringsArticle{
	display: flex;
	flex-wrap: wrap;
}

.earringsItemBox{
	flex-direction: column;
	display: inline-flex;
	align-items: center;
	width: 33.33%;
}

#earringsArticle img{
	border: thick #525b56 solid;
	width: 80%;
}


#earringsArticle p{
	color: black;
	font-size: 22px;
	font-weight: 300;
	display: flex;
	justify-content: space-between;
	margin: 0 2.5%;
	font-family: "leksa-sans";
}

.earringsInfoBox{
	margin: 10px 0 50px;
	width: 80%;
}

.earringItemName{
	text-decoration: none;
	color: black;
}

.earringItemName:hover{
	animation: itemNameOnHover 1s 1 alternate linear forwards;
}

.earringItemName:not(:hover){
	animation: itemNameOnHover 1s 1 alternate linear backwards;
}

@keyframes itemNameOnHover{
	from{
		color: black;
	}
	
	to{
		color: gray;
	}
}

.earringItemPrice{
}

.earringsMobile{
	
}

/* Item Page */

#itemArticle{
	display: flex;
	margin-bottom: 1vw;
}

#itemArticleTopBar::before{
	content: '';
	display: block;
	position: relative;
	background-color: #BCC3BE;
	height: 0.5vw;
	width: 100%;
	z-index: -1;
}

#itemMedia{
	width: 45%;
}

.itemMediaMain{
	margin: auto;
	margin-top: 20px;
}

.itemMediaMain img{
	width: 100%;
	border: thick solid #525b56;
	
}

.itemMediaBottom{
	display: flex;
	justify-content: space-between;
}

.itemMediaBottom img{
	width: 49%;
	height: auto;
	border: thick solid #525b56;
}

.itemMediaBottom video{
	border: thick solid #525b56;
	width: 49%;
}

#itemInfo{
	width: 55%;
	margin: 10% 1%;
	padding-left: 3%;
	display: flex;
	flex-direction: column;
}

#itemInfo h4{
	margin-top: 20px;
}

#itemPrice{
	font-size: 24px;
}

#itemDetailsHeading{
	font-size: 22px;
}

#itemDetails{
	font-size: 20px;
}

#itemInfo p{
	text-align: justify;
	font-family: leksa-sans;
	font-weight: 100;
}

#itemInfoSpecs{
	font-size: 18px;
}

#itemInfoSpecs::before{
	content: '';
	display: block;
	position: relative;
	margin-top: 10px;
	margin-left: -20%;
	height: 1vw;
	width: 120%;
	z-index: -1;
}

#itemInfo button{
	font-size: 18px;
	background: #BCC3BE;
	color: black;
	font-weight: normal;
	display: block;
	margin: 30px auto;
	position: relative;
	padding: 10px 28%;
}

#itemInfo button:hover{
	background: #525b56;
	color: white;
}


/* 'How about these?' Section */

#itemHowAboutThese{
	
}

#itemHowAboutThese::before{
	content: '';
	display: block;
	position: absolute;
	background-color: rgba(188, 195, 190, 0.45);
	padding-left: 0;
	height: 22.5vw;
	width: 70%;
	z-index: -1;
}

#itemHowAboutThese h2{
	letter-spacing: 1px;
	font-weight: normal;
	padding-left: 2.5%;
}

.itemHowAboutTheseContent{
	position: relative;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1vw;
	padding: 0 2%;
}

.itemHowAboutTheseImages{
	width: 30%;
	
}

.itemHowAboutTheseContent img{
	width: 100%;
	border: thick solid #525b56;
}

#itemHowAboutTheseImage1::after{
	content: '';
	display: flex;
	justify-content: flex-start;
	position: relative;
	background-color: #BCC3BE;
	height: 1vw;
	width: 59.5vw;
	margin-left: -7%;
	margin-bottom: 1vw;
}

.itemHowAboutTheseContent p{
	color: black;
	font-size: 22px;
	font-weight: 300;
	display: flex;
	justify-content: space-between;
	margin: 0 2.5%;
	font-family: "leksa-sans";
}

.itemHowAboutTheseName{
	text-decoration: none;
	color: black;
}

/* Footer */

footer{
	background-color: #525b56;
	margin-bottom: 1vw;
}

footer h3, footer li, footer a, footer p, footer input{
	text-align: left;
	color: white;
	text-decoration: none;
	list-style: none;
	font-family: "leksa-sans";
}

footer h3{
	padding-top: 80px;
}

footer a, footer p{
	font-size: 16px;
	font-weight: lighter;
}

footer li{
	padding-top: 5px;
}

footer input{
	margin: auto 0;
	padding: 10px;
	padding-right: 45px;
	font-size: 16px;
	color: black;
	z-index: 0;
	width: 300px;
	border-radius: 0;
	border: none;
}

.footerTop{
	display: block;
	margin: 0 5%;
	height: 200px;
}

.footerTopLeft{
	flex-direction: row;
	display: flex;
	width: auto;
}

.footerTopRight{
	flex-direction: column;
	width: auto;
	float: right;
}

.footerMenu{
	display: flex;
	flex-direction: column;
	margin-right: 20%;
	
}

#footerMenuAbout{
	
}

.footerTopRight div{
	display: flex;
}

#footerSubmitEmail{
	font-size: 30px;
	width: 30px;
	position: relative;
	z-index: 1;
	margin: auto 0 auto -40px;
	background-color: #BCC3BE;
	cursor: pointer;
	color: white;
}

#footerSubmitEmail:hover{
	color: #525b56;
}



.footerBottomPrint{
	margin: 0 auto;
}

.footerBottomPrint p{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 15px;
	font-size: 16px;
	font-weight: normal;
}

/* Responsive Webpage Settings */

/* 4K Settings */

@media screen and (min-width: 1920px){
	body{
		max-width: 1440px;
		margin: 0 auto;
	}
	
	main{
		height: 700px;
	}
	
	#homeMain::before{
		height: 550px;
	}
	
	#homeMain button{
	}
	
	#homeMostWanted::after{
		height: 350px;
	}
	
	
	
	button{
		font-size: 24px;
		letter-spacing: 2px;
	}
	
	#earringsHeading::before{
		width: 1440px;
		height: 8px;
	}
	
	.homeStyling::after{
		width: 1215px;
		height: 20px;
	}
	
	#earringsSection5{
		margin-top: 25px;
	}
	
	#earringsSection5::before{
		height: 20px;
		margin-top: -70px;
		margin-bottom: 25px;
	}
	
	#earringsSection8::after{
		width: 1215px;
		margin-left: -225px;
		height: 20px;
	}
	
	#earringsArticle::before, #earringsSection8::before{
		width: 1440px;
		height: 400px;
	}
	
	#earringsSection8::before{
		margin-top: -25px;
	}
	
	#itemHowAboutThese::before{
		width: 1440px;
		height: 400px;
	}
	
	#itemArticleTopBar::before{
		height: 10px;
	}
	
	#itemHowAboutTheseImage1::after{
		width: 1215px;
		height: 20px;
	}
}

/* Tablet Version */

@media screen and (max-width: 1023px){
	body{
		margin: 0 5%;
	}
	
	main{
		height: 400px;
	}
	
	#homeMain::before{
		height: 35vw;
	}
	
	#earringsHeading::before{
		width: 90%;
	}
	
	#earringsArticle::before, #earringsSection8::before, #itemHowAboutThese::before{
		height: 25vw;
		width: 90%;
	}
	
	#earringsSection8::after{
	}
	
	#itemHowAboutThese::after{
		width: 90%;
		margin-top: -45vw;
		height: 30vw;
	}
}

/* Tablet Portrait Version */

@media screen and (max-width: 1023px) and (orientation: portrait){
	body{
		margin: 0 5%;
	}
	
	main{
		height: 40vw;
	}
	
	#homeMain::before{
		height: 32.5vw;
	}
	
	#homeMain button{
		padding: 1% 2%;
	}
	
	.homeStyling::after{
		width: 70vw;
	}
	
	button{
		font-size: 14px;
	}
}

/* Mobile version */

@media screen and (max-width: 767px){
	body{
		margin: 0;
	}
	
	/* Top Bar Menu */
	
	.mainMenu{
		position: relative;
		height: 15vw;
	}
	
	.hamburgerMenu{
		margin: auto;
		display: flex;
		float: left;
		width: 10%;
		z-index: 1;
		cursor: pointer;
		position: absolute;
		margin-top: 4vw;
		margin-left: 1.5vw;
	}
	
	#logo{
		width: 100%;
		display: flex;
		position: absolute;
		justify-content: center;
		z-index: 0;
		margin-top: 1.25vw;
	}
	
	.logoFont1{
		font-size: 8vw;
		letter-spacing: .8vw;
	}
	
	.logoFont2{
		font-size: 7.5vw;
		padding: 0 2.5vw 0 .5vw;
	}
	
	#menu{
		width: 10%;
		float: right;
		margin-top: 3.3vw;
	}
	
	#menuIcons span{
		padding: 0 .5vw;
	}
	
	#menuDropDown{
		display: none;
	}
	
	#menuIcons{
		display: flex;
		float: right;
		position: relative;
	}
	
	#menuIcons span{
		font-size: 6vw;
		padding: 0 2vw;
	}
	
	span.material-icons-outlined{
		padding: 0 2vw;
		font-size: 7vw;
	}
	
	#menuSearch{
		display: none;
	}
	
	#logo::after{
		display: none;
	}
	
	/* Main Image */
	
	main{
		margin: 0;
		width: 100%;
		height: 130vw;
		position: relative;
		background-size: 218%;
		background-position: top;
		background-repeat: no-repeat;
	}
	
	#homeMain::before{
		display: none;
	}
	
	#homeMain{
		margin: 0;
	}
	
	#homeGroupShot{
		width: 100%;
		overflow: hidden;
	}
	
	#homeMain::after{
		display: none;
	}

	/* Buttons */
	
	button{
		display: flex;
		position: absolute;
		font-family: leksa-sans;
		font-weight: 300;
		font-size: 5vw;
		letter-spacing: .15vw;
		border: none;
		border-radius: 0;
		background-color: #fffcf5;
		padding: 2% 6%;
	}
	
	/* NEW ARRIVALS Button */
	
	#homeMain button{
		float: none;
		margin: 0 auto;
		display: flex;
		
	}
	
	#homeMain button:hover{
		background-color: white;
		color: black;
	}
	
	/* Home Headings */
	
	#homeArticle h2{
		font-size: 5vw;
		padding: 3.5vw 5vw 1.5vw;
	}
	
	/* Most Wanted */
	
	#homeMostWanted{
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		width: auto;
		display: flex;
	}
	
	.homeMostWantedItems{
		flex-shrink: 0;
		scroll-snap-align: center;
		height: 100vw;
	}
	
	#homeMostWanted img{
		height: 100vw;
		margin: 0 3vw;
		width: auto;
	}
	
	#homeLeftImage{
		margin-left: 1.5vw;
	}
	
	#homeRightImage{
		padding-right: 2vw;
	}
	
	#homeMostWanted::after{
		display: none;
	}
	
	/* Most Wanted Buttons */
	
	#homeMostWanted button{
		top: -20vw;
	}
	
	/* Styling */
	
	.homeStyling{
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		margin-bottom: 10vw;
		flex-wrap: nowrap;
	}
	
	.homeStylingImages{
		flex-shrink: 0;
		scroll-snap-align: center;
		width: 80%;
		
	}
	
	.homeStyling img{
		
		width: auto;
		height: 100vw;
	}
	
	#homeStylingCenterImg{
		
	}
	
	.homeStyling::after{
		display: none;
	}
	
	/* Scrollbar Style */
	
	::-webkit-scrollbar{
		
	}
	
	::-webkit-scrollbar-track{
		
	}
	
	::-webkit-scrollbar-thumb{
		
	}
	
	/* Earrings Page */
	
	#earringsHeading::before{
		display: none;
	}
	
	#earringsArticle::before{
		display: none;
	}
	
	#earringsArticle{
		width: 100%;
		padding-top: 5vw;
	}
	
	#earringsArticle img{
		width: 90%;
	}
	
	#earringsArticle p{
	}
	
	.earringsInfoBox{
		width: 90%;
	}
	
	.earringsItemBox{
		width: 50%;
		margin-top: 0;
	}
	.earringsItemBoxes2{
	margin-top: 1.3vw;
}
	
	.earringsMobile{
		display: flex;
		flex-direction: row;
		
	}
	
	#earringsSection5::before{
		display: none;
	}
	
	#earringsSection5{
		margin-top: 0;
	}
	
	#earringsSection8::after{
		display: none;
	}
	
	#earringsSection8::before{
		display: none;	
	}
	
	#earringsSection9{
		
	}
	
	/* Item Page */
	
	#itemArticleTopBar::before{
		display: none;
	}
	
	
	
	/* Footer */
	
	.footerTop{
		height: auto;
	}
	
	.footerTop h3{
		font-size: 5vw;
		padding-top: 4vw;
		
	}
	
	.footerTopLeft{
		justify-content: space-around;
		width: 100%;
		height: auto;
		
	}
	
	.footerTopRight{
		margin: auto;
		width: 100%;
		padding-left: 10%;
		margin-bottom: 3vw;
	}
	
	.footerMenu{
		margin: 0;
		margin-left: -4.5vw;
 	}
	
	.footerTop a, .footerTop p, .footerTop input, .footerBottomPrint p{
		font-size: 4vw;
	}
	
	footer input{
		width: 70vw;
		padding: 1.5vw;
	}
	
	#footerSubmitEmail{
		padding: 1vw 1vw;
		margin: auto 0 auto -7.5vw;
		width: auto;
		font-size: 4vw;
	}
	
	.footerBottomPrint{
		
		padding-left: 13%;
	}
	
	.footerBottomPrint p{
		text-align: left;
		padding-top: 6vw;
		padding-bottom: 4vw;
	}
	
}
